<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>LinkTag®</title>
  <link rel="stylesheet" type="text/css" href="public/style.css">
</head>

<body>

  <h1>LinkTag®</h1>
  <h2>Bookmarks are for mainstream people</h2>

  <ul class="pure-menu-list">
    <li><a href="/linktags/new">Add</a></li>
    <li><a href="/linktags">View</a></li>
  </ul>

  <%= yield %>

</body>

</html>