<h2>Add Your brand, shiny, new LinkTag</h2>

<form action="/linktags" method="post">
  
  <fieldset>
      <legend>Add LinkTag</legend>
  
      <label>URL:</label>
      <input id="urlInput" type="url" name="url" placeholder="e.g. http://google.co.uk">

      <label>Name:</label>
      <input id="titleInput" type="text" name="name" placeholder="e.g. Google">

      <label>Genre:</label>
      <input id="genreInput" type="text" name="genre" placeholder="e.g. Search Engine">

      <label>Description:</label>
      <input id="descriptionInput" type="text" name="description" placeholder="e.g. Where to look for info">

      <input type="submit" value="Add LinkTag">
    </fieldset>

</form>